<nav>
	<ul>
		<li><a href="/#">home</a></li>
		<li><a href="/#about">about-me</a></li>
		<li><a href="/#works">work-experience</a></li>
		<li><a href="/#edu">education-certificate</a></li>
		<li><a href="/#skills">skills</a></li>
		<li><a href="/#toy">toy-project</a></li>
		<li><a href="/#improvements-experience">improvements-experience</a></li>
		<li><a href="/#contact">contact</a></li>
		<li><a href="{{ site.baseurl }}/rss.xml">RSS</a>/<a href="{{ site.baseurl }}/atom.xml">Atom</a></li>
	</ul>
</nav>
